<style>
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        background-color: #f0f0f0;
        color: black;
    }

    nav ul {
        display: flex;
        list-style: none;
    }

    nav ul li {
        margin-right: 1rem;
    }

    nav ul li a {
        color: var(--gray-700);
        text-decoration: none;
    }

    nav ul li a:hover {
        color: #ccc;
    }

    h1 {
        margin: 0;
    }

</style>
<header>
    <h1><span><img src="assets/ask.ico" width="25px"></span>  Quiz Generator</h1>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="#quizzes">Quizzes</a></li>
            <li><a href="/create">Create Quiz</a></li>
        </ul>
    </nav>
</header>